*::-webkit-input-placeholder {
	color: #9F9F9F;
	opacity: 1;
}
*:-moz-placeholder {
	color: #9F9F9F;
	opacity: 1;
}
*::-moz-placeholder {
	color: #9F9F9F;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #9F9F9F;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
input {
	box-shadow: none !important;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	overflow-x: hidden;
	color: #262626;
	margin: 0;
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
.main_header {
	padding: 32px 0;
}
a {
	text-decoration: none;
	outline: none;
	color: #003569;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
.d_flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.main_logo {
	display: inline-block;
	vertical-align: middle;
}
.main_logo img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.form_search input {
	padding: 7px 45px;
	font-size: 15px;
	background-color: #fff;
	text-align: center;
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	position: relative;
	z-index: 2;
	width: 100%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.form_search.active input {
	text-align: left;
}
.clear_search {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -5;
	right: 10px;
	margin: auto;
	cursor: pointer;
	opacity: 0;
	visibility: visible;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-image: url(../img/clear.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.form_search {
	position: relative;
	width: 320px;
	max-width: 100%;
}
.btn_search {
	width: 12px;
	height: 12px;
	border: none;
	z-index: -5;
	padding: 0;
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 15px;
	margin: auto;
	opacity: 0;
	visibility: visible;
	background-color: transparent;
	background-image: url(../img/search_icon2.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.form_search.active .btn_search,
.form_search.active .clear_search {
	visibility: visible;
	opacity: 1;
	z-index: 6;
}
.result_search {
	position: absolute;
	width: 106%;
	width: calc(100% + 20px);
	top: 100%;
	left: 0;
	z-index: 20;
	margin-top: 20px;
	border: 1px solid #E6E6E6;
	background-color: #fff;

	display: none;
}
.result_wrap_list {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 475px;
	background-color: #fff;
	position: relative;
}
.result_search::before {
	position: absolute;
	display: block;
	content: " ";
	width: 10px;
	height: 10px;
	bottom: 100%;
	left: 0;
	right: 0;
	filter: drop-shadow(0px 0px 1px #E6E6E6);
	margin: 0 auto;
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
}
.item_result_search {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	padding: 15px 17px;
	border-bottom: 1px solid #E6E6E6;
}
.item_result_search .image_story {
	width: 48px;
	height: 48px;
	margin-right: 8px;
}
.item_result_search .image_story img {
	width: 43px;
	height: 43px;
	border: 2px #fff solid;
}
.name_item_result {
	padding-right: 20px;
	display: inline-block;
	position: relative;
	color: #262626;
	font-weight: 500;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.verify_item::after {
	position: absolute;
	display: block;
	content: " ";
	width: 12px;
	height: 12px;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-image: url(../img/verify_icon.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.descr_item_resutl {
	color: #9F9F9F;
	font-weight: 500;
	margin-top: 6px;
	display: block;
}
.item_hashtag .image_story {
	background: #fff;
	border: 1px solid #9F9F9F;
}
.item_hashtag .image_story::before {
	content: "#";
	font-weight: 200;
	font-size: 32px;
	line-height: 39px;
	color: #000000;
}
.descr_item_resutl,
.name_item_result  {
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;
	max-width: 100%;
}
.wrapper_result .name_item_result {
	display: inline-block;
}
.right_item {
	width: 77%;
	width:calc(100% - 58px);
}
.link_main {
	font-weight: 500;
	line-height: 18px;
	color: #003569;
	display: inline-block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
div.link_main {
	color: #003569 !important;
}
.link_main:hover {
	color: #809AB4;
}
.rating_item {
	display: inline-block;
	width: 16px;
	height: 15px;
	vertical-align: middle;
	position: relative;
	background-image: url(../img/star.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.rating_item::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background-image: url(../img/star_active.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.rating_item.active::before {
	opacity: 1;
}
.rating_list {
	width: 112px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.top_users_header .rating_list {
	margin-left: 72px;
}
.top_users_header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.share_block {
	font-weight: 500;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.share_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.share_list li a {
	display: inline-block;
}
.share_list li {
	margin: 0 4px;
}
.share_list li a {
	display: inline-block;
}
.share_block .share_list {
	margin-left: 20px;
}
.main_billbord img {
	max-width: 100%;
}
.text_billbord {
	font-weight: 800;
	font-size: 130px;
	line-height: 112px;
	left: 34px;
	color: #FFFFFF;
	position: absolute;
	top: 0;
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.main_billbord .container {
	position: relative;
}
.main_billbord {
	margin-bottom: 42px;
}
.line {
	height: 1px;
	width: 100%;
	background-color: #E6E6E6;
}
.title_min {
	font-weight: 500;
	line-height: 18px;
	padding-top: 17px;
	padding-bottom: 20px;
}
.row {
	margin: 0 -8px;
}
.row > div {
	padding: 0 8px;
}
.item_gallery {
	width: 100%;
	margin-bottom: 16px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.col_big {
	width: 41.7%;
}
.col_middle {
	width: 27.1%;
}
.item_gallery:before {
	content: "";
	display: block;
	margin-top: 100%;
}
.content_item {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	display: block;
	z-index: 1;
}
.content_item::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	background: rgba(38, 38, 38, 0.5);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item_gallery:hover .content_item::after {
	opacity: 1;
}
.gallery {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.item_middle {
	width: 46%;
}
.col_middle {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.item_many_photos::after {
	position: absolute;
	display: block;
	content: " ";
	width: 19px;
	height: 18px;
	top: 8px;
	right: 8px;
	background-image: url(../img/icon_main_photos.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.item_video::after {
	position: absolute;
	display: block;
	content: " ";
	width: 22px;
	height: 16px;
	top: 8px;
	right: 8px;
	background-image: url(../img/icon_video.png);
	background-repeat: no-repeat;
	background-position: center;
}
.name_item {
	color: #fff;
	left: 7px;
	bottom: 4px;
	opacity: 0;
	z-index: 2;
	width: 100%;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: absolute;
}
.name_item:hover {
	color: #9F9F9F;
}
.item_gallery:hover .name_item {
	opacity: 1;
}
.image_story {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background: linear-gradient(221.72deg, #C52E92 15.19%, #FA9E4C 86.36%);
	align-items: center;
	justify-content: center;
	position: relative;
}
.image_story img {
	width: 72px;
	height: 72px;
	border: 5px #fff solid;
	border-radius: 50%;
}
.name_story {
	font-weight: 500;
	line-height: 18px;
	margin-bottom: 3px;
	display: inline-block;
	color: #262626;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.name_story:hover {
	color: #9F9F9F;
}
.time_story {
	color: #9F9F9F;
}
.item_story {
	margin-bottom: 16px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.item_story .image_story {
	margin-right: 16px;
}
.col_stories {
	height: 100%;
	position: relative;
}
.scroll_stories {
	position: absolute;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 93%;
	height: calc(100% - 70px);
}
.wrap_hashtags div,
.wrap_hashtags a {
	font-weight: normal;
	line-height: 24px;
}
.align_center {
	text-align: center;
}
.align_center a {
	font-weight: normal;
}
.link_more {
	position: relative;
}
.link_more::after {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	content: " ";
	border: 4px solid transparent;
	border-top: 5px solid #003569;
	margin-top: 2px;
	margin-left: 7px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.link_more:hover::after {
	border-top-color: #809AB4;
}
.align_center + .line {
	margin-top: 17px;
}
.bottom_billbord {
	padding-top: 48px;
}
.bottom_text {
	padding-bottom: 18px;
}
.bottom_text p {
	margin-bottom: 30px;
}
.nav_footer {
	padding: 41px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.nav_footer li::after {
	position: relative;
	display: inline-block;
	background: #262626;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	content: " ";
	margin: 0 24px;
	vertical-align: middle;
}
.nav_footer li:last-child::after {
	display: none;
}
.billbord {
	height: 112px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.btn_search_tablet {
	display: none;
	width: 24px;
	height: 24px;
	background-image: url(../img/search_icon.svg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.hidden_desktop {
	display: none;
}
.btn_social {
	display: none;
	width: 32px;
	height: 32px;
	background-image: url(../img/icon_social.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.show_mob {
	display: none;
}
.social_list_mob {
	position: absolute;
	right: -5px;
	margin-top: 7px;
	top: 100%;
	min-width: 187px;
	padding: 8px 15px;
	padding-bottom: 0;
	border: 1px solid #E6E6E6;
	display: none;
	background-color: #fff;
}
.social_list_mob li {
	display: block;
	margin-bottom: 12px;
}
.social_list_mob li a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	color: #000;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.social_list_mob li a img {
	width: 32px;
	height: 32px;
	margin-right: 16px;
}
.main_header .d_flex {
	position: relative;
}
.modal_block {
	display: none;
}
.item_modal {
	padding: 0 16px;
	padding-bottom: 50px;
	width: 912px;
	max-width: 100%;
	margin: 0 auto;
	background-color: #fff;
}
.fancybox-skin {
	padding: 0 !important;
	margin: 0 auto;
	background-color: transparent !important;
	box-shadow: none !important;
}
.slider_modal .slick-track .slick-slide {

}
.avatar_modal {
	width: 24px;
	height: 24px;
	margin-right: 8px;
	border-radius: 50%;
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.descr_header_modal {
	color: #9F9F9F;
	margin-left: 15px;
}
.right_header_modal,
.left_header_modal {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.header_modal {
	padding: 16px 0;
	padding-right: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.right_header_modal .rating_list {
	margin-right: 16px;
}
.item_slide {
	position: relative;
}
.item_slide img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	width: 100%;
}
.download_btn {
	width: 24px;
	height: 24px;
	top: 16px;
	right: 16px;
	position: absolute;
	background-image: url(../img/icon_download.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.download_btn::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background-image: url(../img/icon_download2.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.download_btn:hover::after {
	opacity: 1;
}
.slider_main {
	width: 62%;
}
.fancybox-inner {
	overflow: visible !important;
}
.slick-arrow {
	width: 24px;
	height: 24px;
	top: 50%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.slick-arrow::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.slick-arrow:hover::before {
	opacity: 1;
}
.slick-prev::before {
	background-image: url(../img/prev2.svg);
}
.slick-next::before {
	background-image: url(../img/next2.svg);
}
.slick-prev {
	left: 16px;
	background-image: url(../img/prev1.svg);
}
.slick-next {
	right: 16px;
	background-image: url(../img/next1.svg);
}
.slick-dots {
	bottom: 16px;
}
.slick-dots li {
	width: 6px;
	height: 6px;
	margin: 0 2px;
}
.slick-dots li button {
	width: 6px;
	height: 6px;
	border: none !important;
	background-color: #E6E6E6;
	opacity: 0.5;
	padding: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	opacity: 1;
	background-color: #fff;
}
.right_modal {
	width: 320px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.modal_wrap .d_flex {
	align-items: inherit;
}
.right_modal span {
	font-weight: 800;
	font-size: 130px;
	line-height: 130px;
	padding-left: 24px;
	color: #FFFFFF;
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.slider_modal  {
	width: 920px;
	max-width: 100%;
}
.bottom_modal .image_story {
	width: 48px;
	height: 48px;
	position: absolute;
	top: 0;
	left: 0;
}
.bottom_modal .image_story img {
	width: 43px;
	height: 43px;
	border: 2px #fff solid;
}
.bottom_modal {
	margin-top: 15px;
	position: relative;
	padding-left: 64px;
}
.name_item_result,
.bottom_modal p {
	display: inline;
}
.time_modal {
	padding-top: 8px;
	color: #9F9F9F;
	display: block;
}
.fancybox-close {
	width: 16px;
	height: 16px;
	position: fixed;
	top: 16px;
	right: 30px;
	background-image: url(../img/close.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.slider_modal > .slick-arrow {
	width: 15px;
	height: 27px;
}
.slider_modal > .slick-prev {
	left: -96px;
	background-image: url(../img/prev2_1.svg);
}
.slider_modal > .slick-next {
	right: -96px;
	background-image: url(../img/next2_1.svg);
}
.slider_modal > .slick-prev::before {
	background-image: url(../img/prev2_1.svg);
}
.slider_modal > .slick-next::before {
	background-image: url(../img/next2_2.svg);
}
.tablet_head_right {
	display: none;
}
.billbord_modal_mobile {
	display: none;
}
.bottom_modal_mob {
	display: none;
}
.modal_wrap_video .slider_modal,
.modal_wrap_video .item_modal {
	width: 800px;
}
.modal_wrap_video .slider_main {
	width: 57%;
}
.modal_wrap_video .slick-dots {
	top: 12px;
	bottom: auto;
}
.modal_wrap_video .item_modal {
	padding-bottom: 8px;
}
.slider_main {
	max-height: 768px;
}
.footer_mobile {
	display: none;
}
.show_desktop.btn_search_tablet {
	display: inline-block;
}
.btn_search_tablet.active {
	background-image: url(../img/search_icon_active.svg);
}
.form_search_page input {
	padding: 11px 39px;
	width: 100%;
	background: #FFFFFF;
	position: relative;
	z-index: 3;
	border: 1px solid #E6E6E6;
}
.section_search {
	padding-top: 8px;
}
.form_search_page {
	position: relative;
}
.back_form {
	height: 100%;
	top: 0;
	left: 0;
	width: 38px;
	z-index: 5;
	position: absolute;
	background-image: url(../img/icon_back.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.section_search .title_min {
	padding-top: 18px;
	padding-bottom: 13px;
}
.section_search .image_story {
	width: 80px;
	height: 80px;
}
.section_search .image_story img {
	width: 73px;
	height: 73px;
	border: 3px #fff solid;
}
.section_search .item_hashtag .image_story::before {
	font-size: 51px;
	line-height: 62px;
}
.none_history .image_story {
	background: transparent;
}
.section_search .item_result_search {
	padding: 8px 8px;
	flex-wrap: wrap;
	position: relative;
}
.section_search .right_item {
	width: 77%;
	width: calc(100% - 96px);
}
.clear_item {
	width: 8px;
	height: 8px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 8px;
	margin: auto;
	background-image: url(../img/icon_clear.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.wrapper_result {
	min-height: 500px;
	overflow: auto;
	overflow-x: hidden;
}
.result_search_page {
	display: none;
	padding-top: 10px;
}
.clear_input {
	width: 8px;
	height: 8px;
	position: absolute;
	top: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	right: 12px;
	cursor: pointer;
	margin: auto;
	background-image: url(../img/icon_clear.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.form_search_page.active .clear_input {
	visibility: visible;
	z-index: 6;
	opacity: 1;
}
.image_user {
	width: 184px;
	height: 184px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.image_user img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
	display: block;
}
.name_user {
	font-weight: 500;
	text-align: center;
	margin: 18px 0;
	margin-bottom: 0;
	color: #262626;
}
.col_user p span {
	font-weight: 500;
}
.col_user .line {
	margin: 18px 0;
}
.col_user a:hover {
	color: #809AB4;
}
.empty_result {
	padding: 18px 0;
	text-align: center;
	color: #9F9F9F;
}
.empty_result_page {
	color: #9F9F9F;
}
.item_user {
	max-width: 320px;
	height: 100%;
	margin: 0 auto;
	border: 1px solid #E6E6E6;
}
.image_item_user {
	display: block;
}
.image_item_user img {
	width: 100%;
	height: 320px;
}
.name_item_user {
	font-weight: 500;
	color: #000;
	display: inline-block;
	margin-bottom: 3px;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;
	max-width: 100%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.descr_item_user {
	margin-top: 3px;
	color: #9F9F9F;
}
.content_item_user {
	padding: 17px 24px;
}
.wrap_users > div {
	margin-bottom: 22px;
}
.item_user .link_main,
.descr_item_user {
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;
	max-width: 100%;
}
.top_line_flex .link_main {
	position: relative;
	top: -2px;
}
.section_text p {
	line-height: 24px;
}
.section_text p span {
	font-weight: 500;
}
.contacts_text {
	padding: 11px 0;
	padding-top: 0;
}
.section_text {
	padding-top: 17px;
}
.section_text + .bottom_billbord {
	padding-top: 40px;
}
.section_text .title_min {
	padding-top: 0;
	padding-bottom: 11px;
}
.section_error {
	text-align: center;
}
.image_error img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
	height: auto;
}
.title_error {
	font-size: 59px;
	line-height: 72px;
	font-weight: 700;
	padding-top: 15px;
	color: #262626;
}
.descr_error {
	padding-top: 27px;
	padding-bottom: 44px;
	color: #000000;
}
.btn_main {
	padding: 11px 32px;
	line-height: 18px;
	font-weight: 500;
	display: inline-block;
	color: #FFFFFF;
	background: linear-gradient(191.65deg, #C52E92 15.19%, #FA9E4C 86.36%);
	border-radius: 24px;
}
.section_error {
	padding: 95px 0;
	border-top: 1px solid #E6E6E6;
}
.col_stories .item_story > div {
	width: calc(100% - 105px);
}
.col_stories .time_story,
.col_stories .name_story {
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;
	width: 100%;
}