/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1358px) {
	.form_search {
		display: none;
	}
	.billbord {
		height: 88px;
	}
	.text_billbord {
		font-size: 80px;
		line-height: 88px;
	}
	.btn_search_tablet {
		display: inline-block;
	}
	.main_billbord {
		margin-bottom: 0px;
	}
	.hidden_tablet {
		display: none;
	}
	.col_big {
		width: 41.7%;
	}
	.item_gallery {
		margin-bottom: 8px;
	}
	.col_middle {
		width: 27.4%;
	}
	.item_middle {
		width: 47.5%;
	}
	.od_2 .align_center {
		padding-top: 10px;
	}
	.col_hashtags .title_min {
		padding-bottom: 11px;
	}
	.hidden_desktop {
		display: block;
	}
	.col_hashtags .hidden_desktop {
		padding-top: 11px;
	}
	.bottom_billbord {
		margin-bottom: 18px;
		padding-top: 18px;
	}
	.nav_footer {
		padding-top: 0;
		padding-bottom: 23px;
	}
	.bottom_billbord .hidden_desktop {
		margin-bottom: 7px;
	}
	.name_item {
		opacity: 1;
	}
	.main_header {
    padding: 13px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px #E6E6E6 solid;
    background-color: #fff;
    z-index: 700;
}
.wrapper {
	padding-top: 58px;
}
.item_modal,
.slider_modal {
	width: 648px;
}
.right_modal {
	width: 232px;
}
.slider_main {
    width: 61%;
}
.item_modal {
    padding: 0 8px;
    padding-bottom: 25px;
}
.slider_modal > .slick-prev {
    left: -65px;
}
.slider_modal > .slick-next {
	right: -65px;
}
.item_modal .share_block {
	display: none;
}
.tablet_head_right {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	position: relative;
}
.tablet_head_right .btn_social {
	display: inline-block;
	width: 24px;
	height: 24px;
}
.download_btn_tablet {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../img/icon_download2_1.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	border-radius: 50%;
}
.close_btn_modal {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../img/close2.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	border-radius: 50%;
}
.tablet_head_right a {
	margin: 0 4px;
}
.tablet_head_right a:last-child {
	margin-right: 0;
}
.header_modal {
	padding: 8px 0;
}
.fancybox-close {
	display: none;
}
.item_slide .download_btn {
	display: none;
}
.header_modal {
	position: relative;
	z-index: 3;
}
.modal_wrap_video .slider_modal, 
.modal_wrap_video .item_modal {
	width: 568px;
}
.right_modal span {
    font-size: 100px;
    line-height: 93px;
    padding-left: 12px;
    }
    .slider_main {
    	max-height: 552px;
    }
    .item_slide video {
    	height: 552px;
    }
    .col_user {
    	-webkit-order: -3;
    	-moz-order: -3;
    	-ms-order: -3;
    	-o-order: -3;
    	order: -3;
    }
    .col_user .title_min {
    	display: none;
    }
    .image_user {
    	width: 152px;
    	height: 152px;
    }
    .col_user .line {
    	display: none;
    }
    .col_user {
    	margin-top: 24px;
    	padding-bottom: 7px !important;
    	display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	display: -o-flex;
    	display: flex;
    	border-bottom: 1px solid #E6E6E6;
    }
    .info_user {
    	margin-left: 24px;
    	-webkit-flex: 1;
    	flex: 1;
    }
    .name_user {
    	margin-top: 0;
    	text-align: left;
    }
    .info_user p {
    	max-width: 320px;
    	line-height: 24px;
    }
    .stat_user {
    	padding: 10px 0;
    	display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	display: -o-flex;
    	display: flex;
    	align-items: center;
    }
    .stat_user p {
    	margin-right: 23px;
    }
    .stat_user p:last-child {
    	margin-right: 0;
    }
    .image_item_user img {
    	height: 232px;
    }
    .content_item_user {
    padding: 11px 9px;
}
.wrap_users > div {
	margin-bottom: 16px;
}
.section_text + .bottom_billbord {
    padding-top: 18px;
}
.section_text p {
	line-height: 24px;
}
.image_error img {
	width: 505px;
}
.title_error {
    font-size: 44px;
    line-height: 54px;
    padding-top: 10px;
}
.section_error {
    padding: 75px 0;
    margin-bottom: 17px;
    border-bottom: 1px solid #E6E6E6;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 967px) {
	.scroll_stories {
	overflow-y: hidden;
	overflow-x: auto;
}
	.stories_block {
		-webkit-order: -1;
		-moz-order: -1;
		-ms-order: -1;
		-o-order: -1;
		order: -1;
	}
	.scroll_stories {
		position: relative;
		height: auto;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.scroll_stories::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.scroll_stories::-webkit-scrollbar:horizontal {
		height: 1px;
	}
	.scroll_stories::-webkit-scrollbar-thumb {
		background-color: #DEDEDE;
		border-radius: 4px;
	}
	.scroll_stories::-webkit-scrollbar-track {
		border-radius: 10px;  
		background-color: #F4F4F4; 
	}
	.row > div {
		padding: 0 4px;
	} 
	.container {
		padding-left: 4px;
		padding-right: 4px;
	}
	.row {
		margin: 0 -4px;
	}
	.share_block {
		display: none;
	}
	.top_users_header {
		display: none;
	}
	.btn_search_tablet {
		display: none;
	}
	.btn_social {
		display: inline-block;
	}
	.main_header {
		padding: 8px 0;
	}
	.billbord {
		height: 52px;
	}
	.text_billbord {
		font-size: 40px;
		line-height: 40px;
		left: 13px;
		text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	}
	.time_story {
		display: none;
	}
	.item_story {
		width: 73px;
		margin-right: 12px;
		margin-bottom: 11px;
		display: block;
	}
	.image_story img {
		width: 64px;
		height: 64px;
		border: 4px #fff solid;
	}
	.image_story {
		width: 73px;
		height: 73px;
	}
	.name_story {
		white-space: nowrap;
		overflow: hidden; 
		text-overflow: ellipsis;
		width: 100%;
	}
	.stories_block .title_min {
		display: none;
	}
	.col_stories {
		padding-top: 16px;
	}
	.nav_footer {
		padding-bottom: 0;
	}
	.main_footer {
		margin-bottom: 60px;
	}
	.hidden_mob {
		display: none;
	}
	.show_mob {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.col_middle {
		width: 32.3%;
	}
.col_big {
    width: 65.9%;
}
	.item_gallery {
		margin-bottom: 4px;
	}
	.gallery {
		margin-top: 5px;
		align-items: flex-start;
	}
	.name_item {
    left: 3px;
    bottom: 2px;
}
.hidden_mob {
	display: none;
}
.nav_footer li {
	margin-bottom: 16px;
}
.nav_footer li::after {
	margin: 0 16px;
}
.nav_footer li:nth-child(2)::after {
	display: none;
}
.footer_inner .nav_footer li:nth-child(2)::after {
	display: inline-block;
}

.bottom_billbord {
    margin-bottom: 16px;
    padding-top: 15px;
}
.bottom_billbord .hidden_desktop {
    margin-bottom: 4px;
}
.wrapper {
	padding-top: 48px;
}
.footer_mobile {
	position: fixed;
	z-index: 700;
	bottom: 0;
	left: 0;
	width: 100%;
	display: block;
	background-color: #fff;
	padding: 12px 4px;
	border-top: 1px solid #E6E6E6;
}
.footer_mobile .btn_search_tablet {
	display: inline-block;
}
.footer_mobile .top_users_header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.top_users_header .rating_list {
    margin-left: 28px;
}
.fancybox-wrap,
.fancybox-inner {
	top: 0 !important;
	width: 100% !important;
	left: 0 !important;
}
.slider_modal > li {
	opacity: 1 !important;
}
.item_modal, .slider_modal {
	width: 100%;
}
.right_header_modal .rating_list {
	display: none;
}
.descr_header_modal {
	display: none;
}
.right_header_modal .close_btn_modal {
	display: none;
}
.right_modal {
	display: none;
}
.slider_main  {
	width: 100%;
}
.billbord_modal_mobile {
	display: block;
	height: 52px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.item_modal {
	padding: 0 4px;
}
.billbord_modal_mobile span {
	font-weight: 800;
font-size: 40px;
line-height: 40px;
color: #FFFFFF;
padding-left: 15px;
text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.avatar_modal {
	width: 32px;
	height: 32px;
}
.avatar_modal img {
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
}
.tablet_head_right .social_list_mob {
	right: -2px;
}
.bottom_modal .image_story {
	display: none;
}
.bottom_modal {
	padding-left: 0;
	margin-top: 7px;
}
.item_modal {
	padding-bottom: 14px;
}
.modal_wrap {
	background-color: #fff;
}
.bottom_modal_mob {
	padding: 8px 8px;
	border-top: 1px solid #E6E6E6;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 6666;
}
.bottom_modal_mob .btn_search_tablet {
	display: inline-block;
}
.close_btn_mobile {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-image: url(../img/close3.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.modal_wrap {
	padding-bottom: 49px;
}
.modal_wrap_video .slider_main,
.modal_wrap_video .slider_modal, 
.modal_wrap_video .item_modal {
	width: 100%;
}
.modal_wrap_video .item_slide {
	max-width: 500px;
	margin: 0 auto;
}
.item_slide video {
	width: 100%;
	height: auto;
}
.slider_main {
    max-height: none;
}
.modal_wrap_video .slick-dots {
	top: 5px;
}
.section_search {
	padding-bottom: 50px;
}
.wrapper_result {
	min-height: 300px;
}
.section_search .image_story img {
    width: 50px;
    height: 50px;
    border: 3px #fff solid;
}
.section_search .image_story {
    width: 56px;
    height: 56px;
}
.section_search .item_result_search {
	border: none;
}
.show_desktop.btn_search_tablet {
	display: none;
}
.stat_user {
	display: block;
}
.info_user {
	padding-top: 10px;
	display: block;
	margin-left: 0;
	width: 100%;
}
.col_user {
	display: block;
}
.image_user {
	width: 112px;
	height: 112px;
	margin: 0;
}
.stat_user,
.name_user {
	position: absolute;
	top: 5px;
	left: 132px;
}
.stat_user {
	top: 20px;
}
.image_item_user img {
	height: auto;
}
.descr_item_user {
    margin-top: 0px; 
}
.content_item_user {
    padding: 7px 5px;
    padding-bottom: 0;
}
.wrap_users > div {
	margin-bottom: 9px;
	padding: 0 2px;
}
.item_user {
	border: none;
}
.top_line_flex .link_main {
	display: none;
}
.show_mob > .link_main {
	margin-top: 7px;
}
.wrap_hashtags {
	padding-top: 7px;
}
.col_hashtags .title_min {
	display: none;
}
.contacts_text {
    padding: 7px 0;
}
.section_text {
    padding-top: 10px;
}
.footer_inner .nav_footer li:first-child {
	display: block;
	width: 100%;
	text-align: center;
}
.footer_inner .nav_footer li:first-child::after {
	display: none;
}
.footer_inner .nav_footer li {
	margin-bottom: 6px;
}
.image_error img {
	width: 290px;
}
.title_error {
    font-size: 23px;
    line-height: 28px;
    padding-top: 5px;
}
.descr_error {
    padding-top: 15px;
    padding-bottom: 20px;
    max-width: 267px;
    margin: 0 auto;
}
.section_error {
	border-bottom: none;
	margin: 0;
}
.col_stories .item_story > div {
	width: 100%;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 350px) {
.top_users_header .rating_list {
    margin-left: 14px;
}
.footer_mobile {
	padding-left: 0;
	padding-right: 0;
}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 967px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1358px) {
	.od_2 {
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		-o-order: 2;
		order: 2;
	}
}