/*
	Theme Name:		isavegrams
	Version:		1.0
	Description:	Isavegrams theme
*/

.post-ratings-image{
	display: inline;
}

.item_slide{
	min-width: 500px;
	min-height: 500px;
}

#video_modal1 video{
	max-width: 436px;
}

.post-ratings img{
	display: inline;
}